.profile {
width: 200px; 
display: block; 
margin-left: auto; 
margin-right: auto
}

.sub {
    text-align: center;
    font-size: 22px
}

.content {
    text-align: center;
    color:aquamarine
}

p {
    text-align: center
}

.box {
    
    width: 200px;
    background-color: red;
    margin: 10px;
    padding: 40px;
    border-color: rgb(22, 77, 125);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: black;
        
}
.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background: skyblue
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    /* vertical-align: top; */
    /* float: left */
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    display: inline-block;
    /* float: left */
}
.footer{
    width: 100%;
    height: 40px;
    background-color: gray;
    /* clear: both; */
}
.left-box{
    position: relative;
    width: 600px;
    height: 200px;
    background-color: antiquewhite;
    overflow: hidden;
    float: left;
}
.left-photo{
  float: left;
  width: 100px;
  height: 100px;



}
.right-box{
    width: 200px;
    height: 200px;
    float: left;
    margin:0 auto;
}

.right-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
