.profile {
width: 200px; 
display: block; 
margin-left: auto; 
margin-right: auto
}

.sub {
    text-align: center;
    font-size: 22px
}

.content {
    text-align: center;
    color:aquamarine
}

p {
    text-align: center
}

.box {
    
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-color: rgb(22, 77, 125);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: aliceblue;
    box-shadow: 5px 5px rgb(14, 121, 140)
        
}
.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background: skyblue
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    float: left
}
.footer{
    width: 100%;
    height: 40px;
    background-color: gray;
    clear: both;
}
